[Desktop Entry]
Name=Administador CACEI
Comment=Software de administración de la base de datos CACEI
Exec=administador-cacei
Terminal=false
Type=Application
StartupNotify=true
Categories=Education;Database;Utility;
Icon=administador-cacei
